<div class="flex flex-col md:-mx-2 pt-6 px-6 lg:px-20 overflow-hidden bg-panel">
    <div class="mx-6 md:mx-20 mt-0 md:mt-6 text-start">
        <h1 class="text-6xl font-bold text-gray-900 leading-tight">
            <span class="font-light block">Eu sem integer</span> eget magna fermentum
        </h1>
        <p class="font-normal text-2xl leading-normal md:mt-4 text-gray-700">
            Sed blandit libero volutpat sed cras. Fames ac turpis egestas integer. Placerat in egestas erat...
        </p>
        <button tds-button color="error" size="lg" class="rounded-full text-xl! mt-8 px-4!">
            Get Started
        </button>
    </div>

    <div class="flex justify-center md:justify-end">
        <i class="text-9xl md:-ml-5 tdsi-delivery-fill"></i>
    </div>
</div>