.bg-card-left {
    max-height: 160px;
    border-radius: 10px;
    background: white;
}

.bg-card-center {
    max-height: 160px;
    border-radius: 10px;
    background: white;
}

.bg-card-right {
    max-height: 160px;
    border-radius: 10px;
    background: white;
}

.bg-card-footer {
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #f92525e6 0%, #fdfcfc 100%);
}